body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
}

.container {
    display: flex;
    height: 100%;
}

.sidebar {
    width: 25%;
    background-color: #333;
    color: #fff;
}

.menu {
    list-style-type: none;
    padding: 0;
}

.menu li {
    padding: 10px;
    cursor: pointer;
}

.content {
    width: 75%;
    padding: 20px;
}

.menu-content {
    display: none;
}

